
.hostb {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .perfect-scrollbar-example {
    position: relative;
    max-height: 430px;
  }

  .page-title {
    // height: 65vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding-top: 3vh;
  }