<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Schools</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Schools</li>
  </ol>
</nav>
<h3 class="page-title">Schools Management</h3>
<hr style="margin-bottom: 2rem;">

<div class="row">
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title" style="margin-bottom: 0;">Manage Schools</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>School Name</th>
                <th>Principal</th>
                <th>Electoral Officer</th>
                <th>Paired School</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>School 1</th>
                <td>Mark Motshegwa</td>
                <td>Mamosa Motimedi</td>
                <td>School 2</td>
              </tr>
              <tr>
                <th>School 2</th>
                <td>Tshepo Setlhare</td>
                <td>Dikeledi Letsoalo</td>
                <td>School 1</td>
              </tr>
              <tr>
                <th>School 3</th>
                <td>Sam Mokoena</td>
                <td>Nokubonga Nyawo</td>
                <td>School 4</td>
              </tr>
              <tr>
                <th>School 4</th>
                <td>Gloria Tshabalala</td>
                <td>Phumulani Dikela</td>
                <td>School 3</td>
              </tr>
              <tr>
                <th>School 5</th>
                <td>Dimpho Madisha</td>
                <td>Sibusiso Shabangu</td>
                <td>School 6</td>
              </tr>
              <tr>
                <th>School 6</th>
                <td>Kgosi Mokone</td>
                <td>Sipho Ncongwane</td>
                <td>School 5</td>
              </tr>
              <tr>
                <th>School 7</th>
                <td>Teboho Maphosa</td>
                <td>Angelinah Makhanya</td>
                <td>School 8</td>
              </tr>
              <tr>
                <th>School 8</th>
                <td>Joyce Ralekwa</td>
                <td>Nkululeko Masuku</td>
                <td>School 7</td>
              </tr>
              <tr>
                <th>School 9</th>
                <td>Andries Gololo</td>
                <td>Adelaide Tsikwana</td>
                <td>School 10</td>
              </tr>
              <tr>
                <th>School 10</th>
                <td>Mantwa Lesete</td>
                <td>Tshilidzi Muleya</td>
                <td>School 9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>