.required-asterisk{
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
  }
  
.invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  color: #dc3545;
}
  
.hint {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  color: #004b98;
}
