<!--master page code-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="left: 0; top: 0; width: 100%">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/DepartmentEducationLogo.png" style="width: 160px; height: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Master page code-->
<br>
<div class="row w-100 max-0 auth-page">
  <div class="col-md-6 col-xl-4 col-lg-5 mx-auto">
    <div class="card">
      <div class="auth-form-wrapper px-4 py-5">
        <a href="#" class="noble-ui-logo d-block mb-2" style="margin-bottom: 2.5rem; text-align: center;">
          <img src="../../../../../assets/images/DepartmentEducationLogo.png" style="width: 225px; height: auto;">
        </a>
        <div class="row">
          <div class="col-md-12" style="text-align: center; margin-bottom: 1.5rem;">
            <h5 class="text-muted font-weight-normal mb-4 text-center">Official Details</h5>
            <p *ngIf="accountType == 'sgb' || accountType == 'pem'" class="text-center">Please enter your ID/Passport
              Number
              below</p>
            <p *ngIf="accountType == 'employee' || accountType == 'admin'" class="text-center">Please enter your Persal
              Number below</p>
            <p class="text-center">to reset your password</p>
          </div>
        </div>
        <form class="forms-sample">

          <div class="form-group row">
            <label for="optionsRadios" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-form-label">Account
              Type:</label>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" (click)="fieldChange()" [(ngModel)]="accountType"
                    name="optionsRadios" value="employee">
                  <i class="input-frame"></i>
                  Employee
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" (click)="fieldChange()" [(ngModel)]="accountType"
                    name="optionsRadios" value="sgb">
                  <i class="input-frame"></i>
                  Non Employee
                </label>
              </div>
              <!-- <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" (click)="fieldChange()" [(ngModel)]="accountType"
                    name="optionsRadios" value="admin">
                  <i class="input-frame"></i>
                  Admin
                </label>
              </div> 
               <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" (click)="fieldChange()" [(ngModel)]="accountType"
                    name="optionsRadios" value="pem">
                  <i class="input-frame"></i>
                  PEM
                </label>
              </div> -->
            </div>
          </div>

          <div class="form-group">
            <label *ngIf="accountType == 'sgb'" for="userNumber">ID/Passport Number</label>
            <label *ngIf="accountType == 'employee' " for="userNumber">Persal Number</label>
            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="userNumber" (focus)="fieldChange()"
              required class="form-control" id="userNumber">
            <div *ngIf="error && accountType == 'sgb'" style="margin-bottom: 1.5rem;" class="error_text">
              <p class="text-danger">Invalid ID/passport number, please try again</p>
            </div>
            <div *ngIf="error && accountType == 'employee'" style="margin-bottom: 1.5rem;" class="error_text">
              <p class="text-danger">Invalid Persal Number, please try again</p>
            </div>
            <div class="mt-3" style="text-align: center;">
              <button type="button" class="btn btn-primary mr-2 mb-2 mb-md-0" [disabled]="isLoading"
                (click)="verifyIDnumber()"><span class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true" *ngIf="isLoading"></span> Submit</button>
              <input type="button" (click)="Cancel()" class="btn btn-warning" value="Cancel" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>