<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Inauguration</a></li>
      <li class="breadcrumb-item active" aria-current="page">Certificate</li>
    </ol>
  </nav>
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="container-fluid d-flex justify-content-between">
            <div class="col-lg-3 pl-0">
                <img src="../assets/images/Gauteng-Dept-of-Education-logo.png " >
            </div>
          </div>
          <div class="container justify-content-between">
              <div class="row justify-content-between">
                <div class="col-12 text-center">
                    <h1>Gauteng School Governing Body</h1>
                 
                </div>    
              </div>
              <div class="row justify-content-between">
                <div class="col-12 text-center">
                   
                    <h2>Certifcate Awarded To:</h2>
                </div>    
              </div>
              <div class="row justify-content-between">
                <div class="col-12 text-center">
                   
                    <h4 class="text-warning">Thabiso Segolela</h4>
                </div>    
              </div>
                
          </div>
          <div class="container-fluid mt-5 w-100">
            <div class="row">
                <div class="col-12 text-center">
                   
                    <h4 class="text-info">On: 01 March 2022</h4>
                </div> 
            </div>
          </div>
          <div class="container-fluid w-100">
            <a routerLink="." class="btn btn-primary float-right mt-4 ml-2"><i data-feather="send" appFeatherIcon class="mr-2 icon-md"></i>Accept</a>
            <a routerLink="." class="btn btn-outline-primary float-right mt-4"><i data-feather="printer" appFeatherIcon class="mr-2 icon-md"></i>Reject</a>
          </div>
        </div>
      </div>
    </div>
  </div>