<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Action Plan</li>
        <li class="breadcrumb-item active" aria-current="page">School list</li>
    </ol>
</nav>

<div class="row" style="padding-left: 0.75rem; padding-right: 0.75rem;">
    <div class="col-md-12 bg-primary text-white" style="padding: 20px 12px 12px 12px; margin: 25px 0">
        <h2 class="mb-2">Action Plan : <span class="text-warning">Review</span></h2>
        <hr>
    </div>
</div>

<div class="container shadow p-3 mb-5 bg-white rounded">
  
  <!-- "schoolId": 0,
  "schoolName": "string",
  "schoolCode": "string",
  "schoolAddress": "string",
  "district": "string",
  "clusterNumber": "string",
  "tellNumber": 0,
  "emailAddress": "string",
  "faxNumber": 0,
  "cellphoneNumber": 0,
  "schoolType": "string",
  "province": "string",
  "code": 0 -->
            
    <div class="row" style="padding-top: 30px;">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="table-responsive table-wrap">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-hover">
            <thead class="bg-secondary text-white">
              <tr>
                <th scope="col" class="text-white">School Name</th>
                <th class="text-white">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let school of data">
              <tr>
                <td>{{school.schoolName}}</td>
                <td>
                  <div class="float-sm-right">
                        <span class="btn btn-primary" style="padding: 6px; margin-left: 2px; margin-right: 2px;" data-toggle="modal" data-target="#exampleModal" routerLink="../action-plan-review">Review</span>
                      </div>
                </td>
              </tr>
            </tbody>
          </table>
    
          <div class="d-flex justify-content-center ">
    
            <div *ngIf="noElections">
              <div class="card-body">
                <p class="card-title text-danger text-center">No Added Questions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>