
.required-asterisk{



    color: red;

 

    font-weight: bold;

 

    margin-left: 3px;

 

    font-size: 1.2em;

 

  }

  .asterisk{



    color: red;

 

   // font-weight: bold;

 

    margin-left: 3px;

 

    font-size: 0.8em;

 

  }

.inline-radio {
margin-top: 20px;
}

.invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}


.label-align{
  margin-bottom: 1.32rem;
  margin-left: 2px;
}


