<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Dashboard</h4>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-12 stretch-card">
        <div class="row flex-grow">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="card-title mb-0">Total Elections Scheduled</h6>
                            <button type="button" class="btn btn-primary btn-icon p-2">
                                <i data-feather="calendar"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12 col-xl-12">
                                <h1 class="mb-2">108</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="card-title mb-0">Total Elections Completed</h6>
                            <button type="button" class="btn btn-success btn-icon p-2">
                                <i data-feather="check-square"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12 col-xl-12">
                                <h1 class="mb-2">87</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="card-title mb-0">Total Elections Outstanding</h6>
                            <button type="button" class="btn btn-warning btn-icon p-2">
                                <i data-feather="clock"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12 col-xl-12">
                                <h1 class="mb-2">21</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--  stat-card-row  -->
<div class="row">
    <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Inbox</h6>
                </div>
                <div class="d-flex flex-column">
                    <a href="#" class="d-flex align-items-center border-bottom py-3">
                        <div class="mr-3">
                            <img src="../assets/images/faces/face1.jpg" class="rounded-circle wd-35" alt="user">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-body mb-2">Thabang Morena</h6>
                                <p class="text-muted tx-12">1:05PM</p>
                            </div>
                            <p class="text-muted tx-13">Lorem ipsum dolor sit amet</p>
                        </div>
                    </a>
                    <a href="#" class="d-flex align-items-center border-bottom py-3">
                        <div class="mr-3">
                            <img src="../assets/images/faces/face2.jpg" class="rounded-circle wd-35" alt="user">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-body mb-2">Judith Zwane</h6>
                                <p class="text-muted tx-12">10:56AM</p>
                            </div>
                            <p class="text-muted tx-13">Lorem ipsum dolor sit amet</p>
                        </div>
                    </a>
                    <a href="#" class="d-flex align-items-center border-bottom py-3">
                        <div class="mr-3">
                            <img src="../assets/images/faces/face3.png" class="rounded-circle wd-35" alt="user">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-body mb-2">Dikeledi Maema</h6>
                                <p class="text-muted tx-12">9:11AM</p>
                            </div>
                            <p class="text-muted tx-13">Lorem ipsum dolor sit amet</p>
                        </div>
                    </a>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">View All</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-xl-8 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6>Scheduled Elections</h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">School Name</th>
                                <th class="pt-0">District</th>
                                <th class="pt-0">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Some Primary School</td>
                                <td>District 14</td>
                                <td>16/04/2021</td>
                            </tr>
                            <tr>
                                <td>Some Secondary School</td>
                                <td>District 5</td>
                                <td>14/04/2021</td>
                            </tr>
                            <tr>
                                <td>Some High School</td>
                                <td>District 24</td>
                                <td>13/04/2021</td>
                            </tr>
                            <tr>
                                <td>Some Primary School</td>
                                <td>District 14</td>
                                <td>10/04/2021</td>
                            </tr>
                            <tr>
                                <td>Some Secondary School</td>
                                <td>District 5</td>
                                <td>09/04/2021</td>
                            </tr>
                            <tr>
                                <td>Some High School</td>
                                <td>District 24</td>
                                <td>08/04/2021</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!--  row 2  -->
<div class="row" style="margin-top: 1.7rem;">
    <div class="col-lg-7 col-xl-8 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6>Latest Disputes Lodged</h6>
                </div>
                <div>
                    Content goes here...
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6>Card Title</h6>
                </div>
                <div>
                    Content goes here...
                </div>
            </div>
        </div>
    </div>
</div>