<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <h4 class="mb-3 mb-md-0">DEO Dashboard</h4>
</div>

<div class="row">
    <div class="col-12 col-xl-12 stretch-card">
        <div class="row flex-grow">
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                                <i data-feather="clipboard" class="text-primary icon-xxl d-block mx-auto my-3"></i>
                            </div>
                            <div class="w-100">
                                <h6 class="card-title mb-2">Training Sessions</h6>
                                <h3>14</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                                <i data-feather="inbox" class="text-danger icon-xxl d-block mx-auto my-3"></i>
                            </div>
                            <div class="w-100">
                                <h6 class="card-title mb-2">Outstanding Disputes</h6>
                                <h3>8</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                                <i data-feather="info" class="text-info icon-xxl d-block mx-auto my-3"></i>
                            </div>
                            <div class="w-100">
                                <h6 class="card-title mb-2">New Quiries</h6>
                                <h3>644</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                                <i class="mdi mdi-checkbox-multiple-marked text-success icon-xxl" style="font-size: 40px; margin-top: 1rem; margin-bottom: 1rem;"></i>
                            </div>
                            <div class="w-100">
                                <h6 class="card-title mb-2">Scheduled Elections</h6>
                                <h3>22</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title">Upcoming Training Sessions</h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">Name</th>
                                <th class="pt-0">Date</th>
                                <th class="pt-0">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Training Session 1</td>
                                <td>01/06/2021</td>
                                <td>09:00</td>
                            </tr>
                            <tr>
                                <td>Training Session 2</td>
                                <td>08/06/2021</td>
                                <td>012:00</td>
                            </tr>
                            <tr>
                                <td>Training Session 3</td>
                                <td>22/06/2021</td>
                                <td>09:00</td>
                            </tr>
                            <tr>
                                <td>Training Session 4</td>
                                <td>03/07/2021</td>
                                <td>13:00</td>
                            </tr>
                            <tr>
                                <td>Training Session 5</td>
                                <td>05/07/2021</td>
                                <td>09:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title">Upcoming Meetings</h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">Name</th>
                                <th class="pt-0">Date</th>
                                <th class="pt-0">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Meeting 1</td>
                                <td>01/06/2021</td>
                                <td>09:00</td>
                            </tr>
                            <tr>
                                <td>Meeting 2</td>
                                <td>08/06/2021</td>
                                <td>012:00</td>
                            </tr>
                            <tr>
                                <td>Meeting 3</td>
                                <td>22/06/2021</td>
                                <td>09:00</td>
                            </tr>
                            <tr>
                                <td>Meeting 4</td>
                                <td>03/07/2021</td>
                                <td>13:00</td>
                            </tr>
                            <tr>
                                <td>Meeting 5</td>
                                <td>05/07/2021</td>
                                <td>09:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>