<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Disputes</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>
<h1 class="page-title">Disputes</h1>
<hr style="margin-bottom: 40px;">

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <br />

            <div *ngIf="noDisputes" class="row justify-content-center">
                <div class="row">
                    <h4 class="text-danger">There are no disputes logged in your Province</h4>
                </div>
            </div>


            <div *ngIf="!noDisputes" class="table-responsive table-wrap">
                <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" id="datatable"
                    class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="pt-0">#</th>
                            <th class="pt-0">District Code</th>
                            <th class="pt-0">District Name</th>
                            <th class="pt-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let district of districts; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{district.code}}</td>
                            <td>{{district.districtName}}</td>
                            <td><a><i class="mdi mdi-eye text-dark" (click)="view(i)"></i></a>
                                <button *ngIf="false" class="btn btn-primary" (click)="view(i)"><i
                                        class="mdi mdi-eye text-light"></i> View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>