<!-- <nav class="navbar">
    <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">

    </a>

</nav>

-->
<nav class="sidebar">
  <div class="">
    

    <a class="sidebar-brand">
      <img class="sidebar-logo" src="../assets/images/DepartmentEducationLogo.png">
    </a>


  </div>
</nav>


<h4 class="card-title text-primary htitle">Activate Profile</h4>


<div class="row hform">



  <div class="col-md-6 grid-margin ">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Complete the form to activate your profile</h6>

        <form (ngSubmit)="formSubmit()" [formGroup]="validationForm1">

          <div class="form-group row">
            <label for="currentpassword" class="col-sm-4 col-form-label">Temporary Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" [(ngModel)]="currentpassword" id="currentpassword"
                formControlName="currentpassword" (focus)="fieldChange()"
                [ngClass]="{'is-invalid': isForm1Submitted && form1.currentpassword.errors}" placeholder="Type here">

              <div *ngIf="isForm1Submitted && form1.currentpassword.errors?.required" class="invalid-feedback">
                Required
              </div>
              <div *ngIf="invalidCurrentPassword" class="text-justify text-danger">
                Incorrect Password
              </div>
            </div>

          </div>

          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">New Password</label>
            <div class="col-sm-8">
              <input type="password" [(ngModel)]="password" class="form-control" id="password"
                formControlName="password" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*~-])[a-zA-Z0-9!@#$%^&*~-]{8,20}$"
                [ngClass]="{'is-invalid': isForm1Submitted && form1.password.errors}" placeholder="Type here"
                (focus)="fieldChange()">
              <div *ngIf="isForm1Submitted && form1.password.errors?.required" class="invalid-feedback">
                Required
              </div>
              <div *ngIf="isForm1Submitted && form1.password.errors?.pattern" class="invalid-feedback">
                <ul>
                  Password should be:
                  <li>
                    A minimum of 8 characters
                  </li>
                  <li>
                    contains atleast 1 UPPERCASE letter
                  </li>
                  <li>
                    contains atleast 1 lowercase letter
                  </li>
                  <li>
                    contains atleast 1 numeric character
                  </li>
                  <li>
                    contains atleast 1 special character
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="confirmpassword" class="col-sm-4 col-form-label">Confirm Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="confirmpassword" formControlName="confirmpassword"
                [(ngModel)]="confirmpassword"
                [ngClass]="{'is-invalid': isForm1Submitted && form1.confirmpassword.errors || isForm1Submitted && password != confirmpassword}"
                placeholder="Type here" (focus)="fieldChange()">
              <div *ngIf="isForm1Submitted && form1.confirmpassword.errors?.required" class="invalid-feedback">
                Required
              </div>
              <div *ngIf="isForm1Submitted && password != confirmpassword" class="invalid-feedback">
                Password don't match
              </div>
            </div>
          </div>


          <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>


      </div>
    </div>
  </div> <!-- col -->

</div> <!-- row -->