<!--<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="../kpi-list">add kpi</a></li>
    </ol>
</nav>-->

<div class="row" style="padding-left: 0.75rem; padding-right: 0.75rem;">
    <div class="col-md-12 bg-primary text-white" style="padding: 20px 12px 12px 12px; margin: 25px 0">
        <h3 class="mb-2">ADD KPI</h3>
        <hr>
    </div>
</div>

<!--table-->
<div>
    <!--modal button-->
    <div class="row d-flex justify-content-end" style="padding-left: 0.75rem; padding-right: 0.75rem;">
        <button class="btn btn-primary float-right" (click)="openModal(Modal)">Add KPI
        </button>
    </div>
    <br />
    <!--modal button-->
    <!--table-->
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
                <div class="table-responsive">
                    <table role="table"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
                        <thead class="bg-secondary text-white">
                            <tr>
                      
                                <th class="tableheadStyle text-white" style="width: 20%">Area Of Evaluation</th>
                                <th class="tableheadStyle text-white" style="width: 20%">Component</th>
                                <th class="tableheadStyle text-white" style="width: 50%">KPI</th>
                                <th hidden class="tableheadStyle text-white">unitId</th>
                                <th class="tableheadStyle text-white">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let val of kpiInfo; let i = index">
                                <td>{{val.focusArea}}</td>
                                <td>{{val.componentName}}</td>
                                <td>{{val.kpiName}}</td>
                                <td hidden>{{val.manageKPIID}}</td>
                                <td>
                                    <a title="Edit KPI" style="margin-left: 30px;"><i class="mdi mdi-pencil text-dark"
                                            (click)="openEditModal(editModal)"></i></a>
                                    <a title="Delete KPI" style="margin-left: 30px;"><i class="mdi mdi-delete text-danger"
                                            (click)="removeQuantity()" (click)="openXlModal(xlModal2)"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
        </div>
        <!--table-->
    </div>
</div>
<br>
<!--table-->

<!--modal-->
<ng-template #Modal let-modal>
    <div class="modal-header bg-primary text-white headingStyle2">
        <h5 class="modal-title text-white" id="exampleModalLabel">Add KPI</h5>
        <button type="button" class="close text-white" (click)="resetDropzoneUploads()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



    <!-- <div class="row"> -->
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Area of Evaluation<span class="required-asterisk" style="color: red;">*</span></label>
                            <select (change)="selectAreaOfEvaluation($event)" [(ngModel)]="areaOfEvaluationValue">
                                <option selected hidden disabled>Select Area of evaluation</option>
                                <option *ngFor="let areaOfevaluationdatas of areaOfevaluationdata"
                                    [value]=areaOfevaluationdatas.manageAreaOfEvalutionID>
                                    {{ areaOfevaluationdatas.focusArea }}</option>
                            </select>
                            <p *ngIf="isFormSubmitted && Form.areaOfEvaluationValue.errors?.required"
                                class="invalid-feedback">Area Of Evaluation required</p>
                        </div>

                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Component/ Sub-Criteria<span class="required-asterisk" style="color: red;">*</span></label>
                            <select (change)="selectComponent($event)" [(ngModel)]="componentName">
                                <option selected hidden disabled>Select Component</option>
                                <option *ngFor="let componentDataObj of Components" [value]=componentDataObj.manageComponentID>
                                    {{ componentDataObj.componentName }}</option>
                               
                            </select>
                            <!-- <div id="other" *ngIf="isNameSelected"><br>
                                <label>Other</label>
                                <input type="text" class="form-control" placeholder="Type here...">
                            </div>     -->
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>KPI<span class="required-asterisk" style="color: red;">*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="question" required>
                            <p *ngIf="isFormSubmitted && Form.question.errors?.required" class="invalid-feedback">KPI name required</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Compulsory<span class="required-asterisk" style="color: red;">*</span></label>
                            <select type="text" class="form-control" [(ngModel)]="compulsory" name="compulsory">
                                <option value="Compulsory">Compulsory</option>
                                <option value="Optional">Optional</option>
                            </select>

                        </div>
                    </div>
                    

                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Rating<span class="required-asterisk" style="color: red;">*</span></label>
                            <select type="text" class="form-control" [(ngModel)]="rating" name="rating">
                                <option value="(1-5)">(1-5)</option>
                                <option value="YES/NO">YES/NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Legislation<span class="required-asterisk" style="color: red;">*</span></label>
                            <select  [(ngModel)]="legislation" name="legislation">
                                <option selected hidden disabled>Select legislation</option>
                                <option *ngFor="let leg of LegislationData" [value]=leg.legislationID>
                                    {{ leg.description }}</option>
                               
                            </select>
                            <p *ngIf="isFormSubmitted && Form.legislation.errors?.required"
                                class="invalid-feedback">legislation required</p>
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Description of Evidence</label>
                            <textarea type="text" class="form-control" [(ngModel)]="description" name="description"></textarea>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="required">Business Unit<span class="required-asterisk" style="color: red;">*</span></label>
                            <ng-select [items]="BUData" [multiple]=true [closeOnSelect]="false" [searchable]="false"
                                bindLabel="unitName" placeholder="Select Business Unit" [(ngModel)]="BUValue">
                            </ng-select>
                        </div>
                    </div>
                    
                </div>
               <div class="row">
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Resource</label>
                            <input type="text" class="form-control" [(ngModel)]="resource">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary mt-2 " type="submit" (click)="addKPI()">Submit</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-danger mt-2 " (click)="resetDropzoneUploads()">Cancel</button>
                </div>

            </div>
        </div>
    </div> <!-- col -->
    <!-- </div> -->
</ng-template>
<!--modal-->